.container-fluid {
  background: red;
  background: linear-gradient(266deg, red 0%, #f9f9ff 100%); }
  .container-fluid img {
    width: 80px; }

.imgSize {
  transition: all 300ms; }
  .imgSize:hover {
    transform: scale(1.1); }
  .imgSize img {
    border-radius: 5%; }

.container-footer {
  background: red;
  background: linear-gradient(266deg, red 0%, #f9f9ff 100%);
  margin-top: 5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  bottom: 0; }
  .container-footer img {
    width: 2.7rem; }

.container-1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center; }
  .container-1 .container-2 {
    display: flex; }

.contenedor-main {
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 0.7fr 1fr 0.7fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: ". h2 h2 ." ". texto1 texto1 ." ". video video ." ". texto2 texto2 .";
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center; }

.h2 {
  grid-area: h2; }

.texto1 {
  grid-area: texto1; }

.video {
  grid-area: video; }

.texto2 {
  grid-area: texto2; }

.container-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "img1 img2 img3 img4" "img5 img6 img7 img8" "img9 img10 img11 img12";
  justify-items: center; }
  .container-gallery img {
    height: 300px;
    width: 400px;
    margin: 10px; }
    .container-gallery img .img4 {
      height: 300px;
      width: 400px; }

.img1 {
  grid-area: img1; }

.img2 {
  grid-area: img2; }

.img3 {
  grid-area: img3; }

.img4 {
  grid-area: img4; }

.img5 {
  grid-area: img5; }

.img6 {
  grid-area: img6; }

.img7 {
  grid-area: img7; }

.img8 {
  grid-area: img8; }

.img9 {
  grid-area: img9; }

.img10 {
  grid-area: img10; }

.img11 {
  grid-area: img11; }

.img12 {
  grid-area: img12; }
