.container-fluid {
  background: rgb(250, 112, 112);
  background: linear-gradient(
    266deg,
    rgba(250, 112, 112, 1) 0%,
    rgba(255, 255, 255, 1) 52%,
    rgba(249, 249, 255, 1) 100%
  );
  img {
    width: 80px;
  }
}
